.header {

    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 40px;
    border-radius: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;   
}

#headline {
    cursor: pointer;
    transition: opacity 0.5s ease;
}

#headline.disappear {
    opacity: 0;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Passen Sie die Höhe nach Bedarf an */
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sorgt dafür, dass das Video den Container vollständig ausfüllt */
}

.video-background h1 {
    position: absolute;
    top: 50%; /* Zentriert den Titel vertikal */
    left: 50%; /* Zentriert den Titel horizontal */
    transform: translate(-50%, -50%); /* Verschiebt den Titel, um eine exakte Zentrierung zu erreichen */
    color: white; /* Farbe des Titels */
    /* Weitere Stilisierungen für den Titel nach Bedarf */
}

#zeichnenCanvas {
    display: flex;
    border: 10px solid #e0b038; /* Für die Sichtbarkeit des Canvas-Rahmens */
    margin: auto;
}

body
{
     /*background-color: var(--hautpfarbe);*/
    
     transition: background 0.3s ease; 
     font-family: 'Arial';
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.spalte {
    flex: 1;
    min-width: 250px;
}

#tippanimate{
    flex: 0 0 auto; /* Flex-Basis auf auto und kein Wachstum oder Schrumpfen */
    width: 100px; /* Feste Breite für das kleine Kästchen */
    height: 100px; /* Feste Höhe */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;

 /* Zusätzliche Eigenschaften für die Animation */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    animation: typing 4s steps(10) 1s  normal both,
               blink-caret .75s step-end 1s normal both;
}

/* Animation für das "Tippen" */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; } /* Anpassen an die gewünschte Breite */
}

/* Animation für den blinkenden Cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

#tipp {
    flex: 0 0 auto; /* Flex-Basis auf auto und kein Wachstum oder Schrumpfen */
    width: 100px; /* Feste Breite für das kleine Kästchen */
    height: 100px; /* Feste Höhe */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
}

#tippingrau {
    flex: 0 0 auto; /* Flex-Basis auf auto und kein Wachstum oder Schrumpfen */
    width: 100px; /* Feste Breite für das kleine Kästchen */
    height: 100px; /* Feste Höhe */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    color: rgb(45, 43, 43);
}

#tippinweiss {
    flex: 0 0 auto; /* Flex-Basis auf auto und kein Wachstum oder Schrumpfen */
    width: 100px; /* Feste Breite für das kleine Kästchen */
    height: 100px; /* Feste Höhe */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
}


#text-spalte, #bild-spalte {
    flex: 1 1 0;
}

#text-spalte{
    width: 100px; /* Feste Breite für das kleine Kästchen */
    height: 240px; /* Feste Höhe */
    background-color: rgba(241, 135, 14, 0.2); /*  Hintergrund mit 20% Opazität */
    color: #000; /* Schwarzer Text */
    padding: 10px;
}

#text-spalte-grau{
    width: 100px; /* Feste Breite für das kleine Kästchen */
    height: 240px; /* Feste Höhe */
    background-color: rgba(241, 135, 14, 0.2); /*  Hintergrund mit 20% Opazität */
    color: rgb(45, 43, 43);
    padding: 10px;
}

#text-spalte-weiss{
    width: 100px; /* Feste Breite für das kleine Kästchen */
    height: 240px; /* Feste Höhe */
    background-color: rgba(241, 135, 14, 0.2); /*  Hintergrund mit 20% Opazität */
    color: rgb(255, 255, 255);
    padding: 10px;

}

#bild-spalte img {
    width: 100%;
    height: auto;
}

.vertical-line {
    width: 20px; /* Breite der Linie */
    height: 400px; /* Höhe der Linie */
    background-color: #e0b038; /* Farbe der Linie; hier schwarz */
    margin-left: 50%; /* Optional: zum Zentrieren der Linie */
    margin-right: 50%; /* Optional: zum Zentrieren der Linie */
    transition: transform 0.3s, opacity 0.3s; /* Animation für Transform und Opacity */
    transform: translateY(-50%); /* Startet außerhalb des oberen Bildschirmrandes */
    opacity: 0; /* Startet unsichtbar */
}

.vertical-line.animate {
    transform: translateY(0); /* Endzustand: in normaler Position */
    opacity: 1; /* Endzustand: voll sichtbar */
}

   
.link-stil {
color: rgb(0, 0, 0); /* Schwarze Schrift */
padding: 10px 20px; /* Padding oben/unten und rechts/links */
text-align: center; /* Zentrierter Text */
text-decoration: none; /* Keine Unterstreichung */
display: inline-block; /* Behält die Button-Form bei */
font-size: 16px; /* Schriftgröße */
margin: 4px 2px; /* Außenabstand */
cursor: pointer; /* Cursor wird zum Klickzeiger */
border: 1px solid #000; /* Rahmen */
}

.content {
    height: 200px; /* Platzhalterinhalt für die Webseite */
    position: relative;
}

#scrollToTopButton {
    display: none; /* Verstecken, bis der Benutzer scrollt */
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    background-color: #e0b038;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}


footer {
    background-color: rgb(0, 0, 0); /* Dunkler Hintergrund */
    color: white; /* Weiße Schriftfarbe */
    text-align: center; /* Zentriert den Text */
    padding: 20px 0; /* Vertikaler Abstand oben und unten */
    font-size: 0.9em; /* Leicht verkleinerte Schriftgröße */
    display: flex; /* Aktiviert Flexbox */
    justify-content: center; /* Zentriert die Elemente horizontal */
    align-items: center; /* Zentriert die Elemente vertikal */
}

footer p {
    margin: 10px 0; /* Abstand zwischen den Absätzen */
}

footer a {
    color: #6c757d; /* Farbe der Hyperlinks */
    text-decoration: none; /* Entfernt die Unterstreichung der Links */
    margin: 10px; /* Gleicher Abstand wie bei <p> */
}

footer a:hover {
    color: #e0b038; /* Farbe der Hyperlinks beim Darüberfahren */
}


@media (max-width: 768px) {
    .element-to-hide,
    .canvas { 
        display: none;
    }
}

     /* In der Moblie-Version ausblenden